.card{
    text-align: center;
    padding:20px;
    margin:0px 10px;
    min-width: 200px;
    height:210px;
    box-shadow: 0px 0px 1px black;
    background-color: white;
    @include createFlex(column,space-between,center,null);
    &__icon{
        height: 24px;
        width: 24px;
        background-image: url('/public/assets/icons/icons-sprite.png');
    }
    &:nth-of-type(1){
        .card__icon{
            background-position: -234px -473px;
        } 
    }
    &:nth-of-type(2){
        .card__icon{
            background-position: -447px -401px;
        }
    }
    &:nth-of-type(3){
        .card__icon{
            background-position: -473px -401px;
        }
    }
    h2{
        font-size:pxToRem(16)
    }
    p{
        color:grey;
        font-size:pxToRem(14)
    }
    button{
        @include blue-btn();
        background-color:$blue;
        max-width: 70%;
        margin:0px auto;
        font-size: pxToRem(12);
    }
}