.navbar{
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    top:0px;
    left:0px;
    width: 100%;
    height:60px;
    padding:0px 200px;
    background-color: white;
    box-shadow: 0px 0px 1px black;
    @include createFlex(row,space-between,center,null);
    a{
        color:black;
    }
    h1{
        font-family:'Billabong';
        font-size:35px;
        font-weight: 300;
    }
    &__field{
        width: 250px;
        margin-left: 170px;
        padding:8px 10px;
        border-radius: 3px;
        box-shadow: 0px 0px 2px grey;
        background-color: rgb(240, 240, 240);

        i{
            color:grey;
        }
        input{
            border:0px;
            outline:none;
            background-color: rgb(240, 240, 240);
            &:focus,&:active{
                border:0px;
                outline:none;
            }
        }
    }
    &__profile-img{
        @include profile-img();
        border:1px solid white;
        img{
            position: relative;
            left:-10px;
            top:0px;
            width: 100%;
        }
    }
    &__main-menu{
        position: relative;
        top:0px;
        left:0px;
        @include createFlex(row,space-between,center,null); 
        min-width: fit-content;
        img{
            cursor: pointer;
            margin:0px 10px;
        }
        svg{
            cursor: pointer;
            margin:0px 10px;
        }
    }
    &__activity-menu-wrapper{
        visibility: hidden;
        position: absolute;
        z-index: -2;
        top:5px;
        right:12px;
        opacity:0;
        transition:all 300ms ease-in-out;
        filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.15));
    }
    
    &__arrow{
        position: relative;
        z-index: 2;
        top:35px;
        right:34px;
        min-height:20px;
        min-width: 20px;
        max-height:20px;
        max-width: 20px;
        background-color: white;
        transform:rotate(45deg);

    }
    &__activity-menu{
        padding:20px;
        position: absolute;
        top:45px;
        left:-350px;
        width: 450px;
        height:180px;
        background-color:white;
        border-radius: 10px;
        @include createFlex(column,center,center,null);
        p{
            &:first-of-type{
                margin-top:10px;
            }
            margin:5px 0px;
        }
    }
    &__profile-menu-wrapper{
        visibility: hidden;
        z-index: -2;
        opacity:0;
        transition:all 300ms ease-in-out;
        position:absolute;
        top:50px;
        left:70px;
        width:230px;
        border-radius: 5px;
        background-color: white;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
        .navbar__arrow{
            position: relative;
            z-index: 2;
            top:-9px;
            right:-157px;
        }
       
    }
    &__profile-menu-item{
       color:black;
       @include createFlex(row,flex-start,center,null);
       &:hover{
           background-color:#f9f9f9;
       }
    }
    &__profile-menu-logout {
        color:black;
        padding:10px;
        border-top: 1px solid lightgrey;
    }
}