.post{
    &__modal-close{
       @include close-btn();
    }
    &__modal-overlay{
        @include modal-overlay();
        display:none;
    }
    &__modal{
        width: 70vw;
        height:50vh;
        position:relative;
        top:17%;
        left:9%;
        transform:translate(-50% -50%);
        @include createFlex(row,center,center,null);
        img{
            width: 50%;
   
        }
    }
    &__modal-content{
        box-sizing: border-box;
        padding:20px;
        background-color: white;
    }
    &__profile-img{
        @include profile-img();
   
    }
    &__modal-header{
        @include createFlex(row,space-between,center,null);
    }
    &__modal-group{
        @include createFlex(row,flex-start,center,null);
        div:first-of-type{
            margin-right:20px;
        }
        div,span{
            margin:0px 5px;
        }
    }
    &__modal-main{
        @include createFlex(row,space-between,center,null);
    }
    &__modal-main-content{
        overflow-y:scroll;
        height:320px;
        &::-webkit-scrollbar {
            display: none;
        }
        svg{
            display: block;
            margin:10px auto;
        }
    }
    &__footer-menu{
        margin: 10px 0px;
        @include createFlex(row,space-between,center,null);
    }
    &__add-comment-modal-form{
        @include createFlex(row,space-between,center,null);
        input{
            position: relative;
            top:-10px;
            left:0px;
            border:0px;
            outline:none;
            background:transparent;
            margin-left:20px;
            &:active,&:focus{
                border:0px;
                outline:none;
            }
        }
        button{
            background:transparent;
            font-weight: bold;
            border:0px;
            color:$sky-blue;
            &:active,&:focus{
                border:0px;
                outline:none;
            }
        }
    }
}