<div class="comment">
    <div class="comment__profile-img">
        <img src="/public/assets/temp-profile.jpg" alt="">
    </div>
    <div class="comment__content">
        <h3><span> Comment profile</span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero deserunt accusantium necessitatibus, similique repudiandae placeat asperiores id in autem expedita.</h3>
        <span class="comment__heart-icon"></span>
    </div>
    <div class="comment__footer">
        <span>5h</span>
        <span>22 likes</span>
        <span>Reply</span>
    </div>
</div>