<div class="footer">
    <div class="footer__links">
        <a href="#">About</a>
        <div class="home__dot"></div>
        <a href="#">Help</a>
        <div class="home__dot"></div>
        <a href="#">Press</a>
        <div class="home__dot"></div>
        <a href="#">API</a>
        <div class="home__dot"></div>
        <a href="#">Jobs</a>
        <div class="home__dot"></div>
        <a href="#">Privacy</a>
        <div class="home__dot"></div>
        <a href="#">Terms</a>
        <div class="home__dot"></div>
        <a href="#">Locations</a>
        <div class="home__dot"></div>
        <a href="#">Top Accounts</a>
        <div class="home__dot"></div>
        <a href="#">Hashtags</a>
        <div class="home__dot"></div>
        <a href="#">Language</a>
    </div>
    <p class="footer__foot">&copy; 2021 INSTAGRAM FROM META</p>
</div>
