<div class="navbar">
    <h1>Instagram</h1>
    <form action="" class="navbar__form">
        <div class="navbar__field">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
    </form>
    <div class="navbar__main-menu">
        <img class="navbar__home-icon" src="/public/assets/icons/home.png" alt="">
        <img src="/public/assets/icons/telegram.png" alt="">
        <img src="/public/assets/icons/find-people.png" alt="">
        <img src="/public/assets/icons/activity-feed.png" alt="">
        <img class="navbar__btn" src="" alt="profile">
    </div>
</div>