<div class="navbar">
    <h1>Instagram</h1>
    <form action="" class="navbar__form">
        <div class="navbar__field">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
    </form>
    <div class="navbar__main-menu">
        <a href="/instagram/home">
            <img class="navbar__home-icon" src="/public/assets/icons/png/home-open.png" alt="">
        </a>
        <a href="/instagram/inbox">
            <img class="navbar__telegram-icon" src="/public/assets/icons/png/telegram.png" alt="">
        </a>
        <img class="navbar__add-icon" src="/public/assets/icons/png/add.png" alt="">
        <a href="/instagram/explore">
            <img class="navbar__find-people-icon" src="/public/assets/icons/png/find-people.png" alt="">
        </a>
        <img class="navbar__feed-icon" src="/public/assets/icons/png/activity-feed.png" alt="">
        <div class="navbar__activity-menu-wrapper">
            <div class="navbar__arrow"></div>
            <div class="navbar__activity-menu">
                <div class="icon-big__feed"></div>
                <p>Activity On Your Posts</p>
                <p>When someone likes or comments on one of your posts, you'll see it here.</p>
            </div>
        </div>
        <div class="navbar__profile-img">
            <img class="navbar__btn" src="/public/assets/temp-profile-img.jpg" alt="profile">
        </div>
    </div>
</div>