<div class="navbar">
    <h1>Instagram</h1>
    <form action="" class="navbar__form">
        <div class="navbar__field">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
    </form>
    <div class="navbar__main-menu">
        <img class="navbar__home-icon" src="/public/assets/icons/png/home.png" alt="">
        <img src="/public/assets/icons/png/telegram.png" alt="">
        <svg class="svg__add-icon" aria-label="Load more comments" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24"><circle cx="12.001" cy="12.005" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="7.001" x2="17.001" y1="12.005" y2="12.005"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12.001" x2="12.001" y1="7.005" y2="17.005"></line></svg>
        <img src="/public/assets/icons/png/find-people.png" alt="">
        <img src="/public/assets/icons/png/activity-feed.png" alt="">
        <div class="navbar__profile-img">
            <img class="navbar__btn" src="/public/assets/temp-profile-img.jpg" alt="profile">
        </div>
    </div>
</div>