<div class="send-modal-overlay">
    <div class="send-modal">    
        <div class="send-modal__header">
            <div class="send-modal__close">
                <span></span>
                <span></span>
            </div>
            <h3>New Message</h3>
            <button>Next</button>
        </div>
        <div class="send-modal__to">
            <label for="to">To:</label>
            <input type="text" placeholder="Search...">
        </div>
        <div class="send-modal__suggestions">
            <h3>Suggested</h3>
        </div>
    </div>
</div>