<div class="suggestion">
    <div class="suggestion__img" style="background-image:url('<%= url %>')">
      
    </div>
    <div class="suggestion__content">
        <h3>natgeo</h3>
        <p>popular</p>
    </div>
    <span class="font-bold suggestion__follow-btn">Follow</span>
</div>