<div class="suggestion">
    <div class="suggestion__img">
        <img src="/public/assets/temp-profile.jpg" alt="">
    </div>
    <div class="suggestion__content">
        <h3>natgeo</h3>
        <p>popular</p>
    </div>
    <span class="font-bold">Follow</span>
</div>