@import '../global';
@import '../components/navbar';
@import '../components/card';
@import '../components/post';
@import '../components/comment';
@import '../components/suggestion';
@import '../components/post-modal';
@import '../components/send-modal';

.home{
   padding:0px 200px;
   @include createFlex(row,flex-start,flex-start,null);
  &__posts{
      margin-top: 20px;
      width: 65%;
  }
  &__title{
      font-size: pxToRem(16);
  }
  &__carousel-wrapper{
      margin-top: -20px;
      width: 100%;
      position: relative;
      left:-10px;
      top:0px;
      overflow-x:hidden;
  }
  &__carousel{
      height:300px;
      @include createFlex(row,flex-start,center,null);
    }
    &__profile{
        position: fixed;
        top:90px;
        right:160px;
        margin-top: 50px;
        padding-left:40px;
        width: 25%;
    }
    &__profile-header{
      width: 100%;
      @include createFlex(row,flex-start,center,null);
      span{
          margin-left: auto;
          color:$blue;

          font-size: pxToRem(13);
      }
    }
    &__profile-img-main{
        overflow: hidden;
        max-width: 60px;
        max-height: 60px;
        border:1px solid rgb(158, 158, 158);
        border-radius: 100%;
        img{
            width: 100%;
        }
    }
    &__profile-info{
        margin-left: 20px;
        h3,p{
            margin:5px 0px;
            font-size:pxToRem(14);
        }
        p{
            color:grey;
        }
    }
    &__profile-suggestions-header{
        color:grey;
        font-size:pxToRem(14);
        @include createFlex(row,space-between,center,null);
    }
    &__profile-links{
        margin-top: 40px;
        width: 80%;
        @include createFlex(row,flex-start,center,wrap);
        a{
            margin:5px 0px;
            font-size: pxToRem(12);
            color:grey;
        }
    }
    &__dot{
        margin:0px 3px;
        height:2px;
        width: 2px;
        border-radius: 100%;
        background-color: grey;
    }
    &__profile-footer{
        font-size: pxToRem(12);
        color:grey;
    }

}