@import '../global';
.login{
    @include createFlex(row,center,flex-start,null);
    h1{
        font-family:'Billabong';
        font-size:80px;
        font-weight: 300;
    }
    &__carousel{
        position: relative;
        top:0px;
        left:0px;
        height:100vh;
        width: 50%;
        &-bg{
            width: 70%;
            height:100vh;
            position:absolute;
            top:0px;
            left:30%;
            z-index: 1;
            img{
                width: 100%;
                position:relative;
                top:0px;
                left:0px;
                z-index: 1;
            }
        }
        &-item{
            width: 38%;
            height:70%;
            position: absolute;
            top: 15%;
            left: 52.5%;
            z-index: 2;
            border:2px solid black;
            overflow: hidden;
            background-image: url('/public/assets/screenshot-1.jpg');
            background-size: cover;
            animation: carousel 20s ease-in-out infinite;
        }
        @keyframes carousel{
            0%{
                background-image: url('/public/assets/screenshot-1.jpg');
            }
            10%{
                background-image: url('/public/assets/screenshot-1.jpg');
            }
            20%{
                background-image: url('/public/assets/screenshot-2.jpg');
            }
            30%{
                background-image: url('/public/assets/screenshot-2.jpg');
            }
            40%{
                background-image: url('/public/assets/screenshot-3.jpg');
            }
            50%{
                background-image: url('/public/assets/screenshot-3.jpg');
            }
            60%{
                background-image: url('/public/assets/screenshot-4.jpg');
            }
            70%{
                background-image: url('/public/assets/screenshot-4.jpg');
            }
            80%{
                background-image: url('/public/assets/screenshot-5.jpg');
            }
            90%{
                background-image: url('/public/assets/screenshot-5.jpg');
            }
            100%{
                background-image: url('/public/assets/screenshot-1.jpg');
            }
        }
    }
    &__main-content{
        width: 50%;
        @include createFlex(column,center,flex-start,null);
    }
    &__form-wrapper{
        width: 60%;
        margin-top:20px;
        box-shadow: 0px 0px 1px black;
        background-color:white;
        @include createFlex(column,flex-start,center,null);
        border-radius: 2px;

        
    }
    &__form{
        width: 70%;
        margin-top:-30px;
        @include createFlex(column,flex-start,flex-start,null);
        input{
           @include input();
        }
        button{
            @include blue-btn()
        }
        p{
            width: 105%;
            @include createFlex(row,center,center,null);
        }
    }
    @include or-divider();
    &__fb{
        margin:10px 0px;
        width: 105%;
        @include createFlex(row,center,center,null);
        i{
            margin-right: 5px;
            color:darkblue;
        }
        span{
            font-weight: bold;
            color:darkblue;
        }
      
    }
    &__sign-up{
        @include createFlex(row,center,center,null);
        width: 60%;
        margin-top:20px;
        box-shadow: 0px 0px 1px black;
        background-color:white;
        border-radius: 2px;
        a{
            margin-left:10px;
            text-decoration: none;
        }
    }
    &__get-app{
        width: 60%;
        text-align: center;
    }
   @include btn-group();
}