<div class="change-password-tab">
    <div class="change-password-tab__header">
        <div class="change-password-tab__img">
            <img src="/public/assets/temp-profile-img.jpg" alt="profile-img">
        </div>
        <h1>devil2671321</h1>
    </div>
    <div class="change-password-tab__form-wrapper">
        <form action="" class="change-password-tab__form">
            <div class="change-password-tab__field">
                <label for="">Old Password</label>
                <input type="text">
            </div>
            <div class="change-password-tab__field">
                <label for="">New Password</label>
                <input type="text">
            </div>
            <div class="change-password-tab__field">
                <label for="">Confirm New Password</label>
                <input type="text">
            </div>
            <button>Change Password</button>
            <a href="#">Forgot Password?</a>
        </form>
    </div>
</div>