<div class="edit-profile-tab">
    <div class="edit-profile-tab__header">
        <div class="edit-profile-tab__img">
            <img src="/public/assets/temp-profile-img.jpg" alt="">
        </div>
        <div class="edit-profile-tab__header-text">
            <h1>devil2671321</h1>
            <h3>Change Profile Photo</h3>
        </div>
    </div>
    <div class="edit-profile-tab__form">
        <div class="edit-profile-tab__field">
            <label for="">Name</label>
            <input type="text" value="Dominik Stepien">
        </div>
        <p>Dominik Stepien Help people discover your account by using the name you're known by: either your full name, nickname, or business name.</p>
        <p>You can only change your name twice within 14 days.</p>
        <div class="edit-profile-tab__field">
            <label for="">Username</label>
            <input type="text" value="devil2671321">    
        </div>
        <p>In most cases, you'll be able to change your username back to devil2671321 for another 14 days. <a href="#">Learn More</a></p>
        <div class="edit-profile-tab__field">
            <label for="">Website</label>
            <input type="text" placeholder="Website">
        </div>
        <div class="edit-profile-tab__field">
            <label for="">Bio</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <h3>Personal Information</h3>
        <p>Provide your personal information, even if the account is used for a business, a pet or something else. This won't be a part of your public profile.</p>
        <div class="edit-profile-tab__field">
            <label for="">Email</label>
            <input type="text" value="s.dominik.dev@gmail.com">
        </div>
        <div class="edit-profile-tab__field">
            <label for="">Phone Number</label>
            <input type="text" value="+48 537 515 135">
        </div>
        <div class="edit-profile-tab__field">
            <label for="">Gender</label>
            <input type="text" placeholder="Gender">
        </div>
        <div class="edit-profile-tab__field">
            <label for="">Similar Account Suggestions</label>
            <div>
                <input type="checkbox" name="" id="" checked>
                <label for="">Include your account when recommending similar accounts people might want to follow.<span class="font-bold">[?]</span></label>
            </div>
        </div>
        <div class="edit-profile-tab__footer">
            <button type="submit">Submit</button>
            <p>Temporarily disable my account</p>
        </div>
    </div>
</div>