<div class="email-and-sms">
    <h1>Subscribe to:</h1>
    <form action="" class="email-ans-sms__form">
        <div class="email-and-sms__field">
            <input checked type="checkbox" name="" id="">
            <label for="">Feedback Emails</label>
            <p>Give feedback on Instagram.</p>
        </div>
        <div class="email-and-sms__field">
            <input checked type="checkbox" name="" id="">
            <label for="">Reminder emails</label>
            <p>Get notifications you may have missed.</p>
        </div>
        <div class="email-and-sms__field">
            <input checked type="checkbox" name="" id="">
            <label for="">Product emails</label>
            <p>Get tips about Instagram's tools.</p>
        </div>
        <div class="email-and-sms__field">
            <input checked type="checkbox" name="" id="">
            <label for="">News emails</label>
            <p>Learn about new Instagram features.</p>
        </div>
    </form>
</div>