<div class="help-tab">
    <h1>Help</h1>
    <div class="help-tab__field">
        <p>Help Center</p>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="help-tab__field">
        <p>Privacy and Security Help</p>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="help-tab__field">
        <p>Support Requests</p>
        <i class="fas fa-chevron-right"></i>
    </div>
</div>