<div class="manage-contacts-tab">
    <h1>Manage Contacts</h1>
    <p>The people listed here are contacts you've uploaded to Instagram. To remove your synced contacts, tap Delete All. Your contacts will be re-uploaded the next time Instagram syncs your contacts unless you go to your device settings and turn off access to contacts.</p>
    <p>Only you can see your contacts, but Instagram uses the info you've uploaded about your contacts to make friend suggestions for you and others and to provide a better experience for everyone.</p>
    <div class="manage-contacts-tab__feature">
        <div class="manage-contacts-tab__feature-header">
            <h3>0 Synced Contacts</h3>
            <button>Delete All</button>
        </div>
        <p>When you upload your contacts to Instagram, you'll see them here.</p>
        <button class="manage-contacts-tab__btn">Delete All</button>
    </div>
</div>