<div class="manage-access-tab">
    <h1>Apps And Websites</h1>
    <div class="manage-access-tab__tabs-inner-nav">
        <div data-id="1" class="manage-access-tab__tab-inner-link active">Active</div>
        <div data-id="2" class="manage-access-tab__tab-inner-link">Expired</div>
        <div data-id="3" class="manage-access-tab__tab-inner-link">Removed</div>
        <div data-id="4" class="manage-access-tab__tab-inner-link">Testers Invinites</div>
    </div>
    <div class="manage-access-tab__tab active" id="tab-1">
        <p>These are apps and websites you've used Instagram to log into and have recently used. They can request info you chose to share with them.</p>
        <div class="manage-access-tab__body">
            <div class="manage-access-tab__body-app">
                <div class="manage-access-tab__img">
                    <img src="/public/assets/icons/png/app.jpg" alt="app-img">
                </div>
                <div class="manage-access-tab__body-text">
                    <h3>popular-page-clone</h3>
                    <p>Authorized by you on Dec 27, 2021</p>
                    <a href="">Privacy Policy</a>
                </div>
            </div>
            <div class="manage-access-tab__btn-group">
                <button>Remove</button>
                <button>View and edit</button>
            </div>
        </div>
    </div>
    <div class="manage-access-tab__tab " id="tab-2">
        <p>These are apps and websites you've used Instagram to log into and may not have used in a while. They may still have information you previously shared, but their ability to make additional requests for private info has expired. You can ask an app to delete your information. To do it, review their Privacy Policy for details and contact information. If you contact an app, they may need your User ID.</p>
        <p class="manage-access-tab__text-grey">You have no expired applications that had access to your Instagram account.</p>
    </div>
    <div class="manage-access-tab__tab" id="tab-3">
        <p>These are apps and websites you removed from your account. This means they may still have information you previously shared, but can't make additional requests. You can ask an app to delete your information. To do it, review their Privacy Policy for details and contact information. If you contact an app, they may need your User ID.</p>
        <p class="manage-access-tab__text-grey">You have no removed applications that had access to your Instagram account.</p>
    </div>
    <div class="manage-access-tab__tab" id="tab-4">
        <h3>popular-page-clone</h3>
        <p class="manage-access-tab__text-grey">Authorized by you on Dec 23, 2021</p>
        <button>Remove</button>
    </div>
</div>