<div class="push-notifications-tab">
    <div class="push-notifications-tab__item">
        <h2>Likes</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="likes" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="likes" id="">
            <label for="">From People I Follow</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="likes" id="" checked>
            <label for="">From Everyone</label>
        </div>
        <p>johnappleseed liked your photo.</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Comments</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="comments" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="comments" id="">
            <label for="">From People I Follow</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="field" id="" checked>
            <label for="">From Everyone</label>
        </div>
        <p></p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Comment Likes</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="field" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="comments_likes" id="" checked>
            <label for="">From People I Follow</label>
        </div>
        <p>johnappleseed liked your comment: "Nice shot!"</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Likes and Comments on Photos of You</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="comments_likes_photos" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="comments_likes_photos" id="" checked>
            <label for="">From People I Follow</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="comments_likes_photos" id="">
            <label for="">From Everyone</label>
        </div>
        <p>johnappleseed commented on a post you're tagged in.</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Accepted Follow Requests</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="follow_requests" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="follow_requests" id="" checked>
            <label for="">From Everyone</label>
        </div>
        <p>John Appleseed (johnappleseed) accepted your follow request.</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Instagram Direct Requests</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="direct_requests" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="direct_requests" id="" checked>
            <label for="">From Everyone</label>
        </div>
        <p>johnappleseed wants to send you a message.</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Instagram Direct</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="instagram_direct" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="instagram_direct" id="" checked>
            <label for="">From Everyone</label>
        </div>
        <p>johnappleseed sent you a message.</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Reminders</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="reminders" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="reminders" id="" checked>
            <label for="">From Everyone</label>
        </div>
        <p>You have unseen notifications, and other similar notifications.</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>First Posts and Stories</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="post__stories" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="post__stories" id="">
            <label for="">From People I Follow</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="post__stories" id="" checked>
            <label for="">From Everyone</label>
        </div>
        <p>See johnappleseed's first story on Instagram, and other similar notifications.</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Video View Counts</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="view_count" id="">
            <label for="">Off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="view_count" id="" checked>
            <label for="">From Everyone</label>
        </div>
        <p>Your video has more than 100K views.</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Support Requests</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="support_requests" id="">
            <label for="">off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="support_requests" id="" checked>
            <label for="">on</label>
        </div>
        <p>Your support request from July 10 was just updated.</p>
    </div>
    <div class="push-notifications-tab__item">
        <h2>Live Videos</h2>
        <div class="push-notifications-tab__field">
            <input type="radio" name="live_videos" id="">
            <label for="">off</label>
        </div>
        <div class="push-notifications-tab__field">
            <input type="radio" name="live_videos" id="" checked>
            <label for="">on</label>
        </div>
        <p>johnappleseed started a live video. Watch it before it ends!</p>
    </div>
</div>