[class^="icon-very-sm"]{
    background-position: -244px -369px;
    height: 12px;
    width: 12px;
    background-repeat: no-repeat;

}
.icon-very-sm{
    &__correct{       
        background-image: url('/public/assets/icons/png/icons-sprite.png');

    }
}
[class^="icon-sm"]{
    background-repeat: no-repeat;
    min-height: 24px;
    min-width: 24px;
    background-image: url('/public/assets/icons/png/icons-sprite.png');
}
.icon-sm{
    &__facebook{
        background-position: -234px -473px;
    }
    &__phone{
        background-position: -447px -401px;
    }
    &__camera{
        background-position: -473px -401px;
    }    
}

[class^="icon-big"]{
    min-height: 96px;
    min-width: 96px;
    background-repeat: no-repeat;
    background-image: url('/public/assets/icons/png/icons-sprite.png');    
}
.icon-big{
    &__telegram{
        background-position: -196px -205px;
    }
    &__feed{
        background-position: 0px -303px;
    }
}