@import '../../mixins';
@import '../../variables';

.push-notifications-tab{
    padding:0px 30px;
    &__item{
        padding:10px 0px;
        border-bottom: 1px solid lightgrey;
        h2{
            font-weight: 300;
        }
    }
    &__field{
        margin:5px 0px;
        @include createFlex(row,flex-start,center,null);
        label{
            margin-left: 5px;
        }
    }
}